body {
    background-color: gray;
}

.header-01 {
    background-color: coral;
    margin: 10px 500px 10px 500px;
    
}
h1 {
    text-align: center;
    color: black;
}

main {
    background-color: orange;

}
h2 {
    background-color: black;
    color: red;
}

a {
    text-decoration: none;
    color: blue;
}

footer {
    color: darkmagenta;
}

